body{
    font-family: 'Roboto', sans-serif;
    margin:0;
}
h1{
    font-size: 50px;
}
p{
    color: dimgray;
}
.head-name{
    color: rgb(241, 186, 84);

}
.half-width{
    width:35%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    border-radius: 80px;
    margin-top: 2px;
   height: 430px;
   margin-left: 250px;
}
.top{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
    
}
section{
    height: 500px;
}
.button-link{
    text-decoration: none;
    background-image: linear-gradient( tomato ,red ,orange );
    color: white ;
    padding: 10px 20px;
    border-radius: 40px;
    margin-left: 150px;
    font-weight: 700px;
    margin-top: 4px;
    margin-top: 30px;
}

    /*Second part of work*/
    .dream-area{
        background-image: url(./images/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
        
    }
.half{
    margin-right: 50px;
    width: 62%;
    float: left;
}
.color{
    color: chocolate;
}
.dream-line{
    float: left;
    width: 25%;
    padding: 1%;
    height: 250px;
    margin-top: 200px;

}
.button{
    text-decoration: none;
    background-image: linear-gradient( tomato ,red ,orange );
    color: white ;
    padding: 10px 20px;
    border-radius: 40px;
    font-weight: 700px;
    margin-left: 54px;
    margin-top: 30px;

}
.experience-area{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
    
}
.senior{
    width: 50%;
}
.junior{
    width: 50%;
}
.single-area{
    box-shadow: 10px 10px 40px gray;
    border-radius: 15px;
    height: 250px;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon ,tomato);
    border-image-slice: 1;
}
#baby{
    border-left: 7px solid;
    border-image: linear-gradient(blue ,pink,tomato);
    border-image-slice: 1;
}
    

